<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>Treedom</title>
    <meta id="share-name" itemprop="name" content="">
    <meta id="share-description" itemprop="description" content="">
    <meta id="share-image" itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- rem布局初始化设置start -->
    <script type="text/javascript">
        <%= require('raw-loader!./src/js/app/rem.js') %>
    </script>
    <!-- rem布局初始化设置end -->

    <% if (process.env.NODE_ENV === 'handover') { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css] %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } else { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css].substr(htmlWebpackPlugin.files.publicPath.length); %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } %>

    <!-- 授权加代码统计系统 -->
    <script id="__ga" type="text/javascript" src="https://ga.treedom.cn/ga.js?v=0.3.4&pid=9999"></script>

</head>
<body>
    <div class="m-main-wrap absf">

        <!-- 可删除 start -->
        <button style="position: absolute;z-index: 2;top: 40%;left: 20%;" onclick="document.querySelector('.m-vertical').style.display='block';document.querySelector('.m-horizontal').style.display='none'">竖屏显示</button>
        <button style="position: absolute;z-index: 2;right: 20%;top: 40%;" onclick="document.querySelector('.m-vertical').style.display='none';document.querySelector('.m-horizontal').style.display='block'">横屏显示</button>
        <!-- 可删除 end -->
        
        <!-- 竖屏页 -->
        <div class="m-vertical absf">
            <div class="m-wrap sizcover abcter">
                <!-- 业务逻辑代码 stat -->

                <div class="m-loading"></div>
                <div class="m-end"></div>
                
                <!-- 业务逻辑代码 end -->
            </div>
        </div>
        
        <!-- 横屏页 -->
        <div class="m-horizontal absf">
            <div class="m-wrap sizcover abcter">
                <!-- 同上 -->
            </div>
        </div>
    </div>

    <!-- 微信分享JSDK 需要时打开 -->
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->

    <!--  正式上线可替换此zepto（腾讯CDN） -->
    <!-- <script src="//cdnjs.gtimg.com/cdnjs/libs/zepto/1.0rc1/zepto.min.js"></script> -->

    <!-- 本地zepto -->
    <script src="<%= require('./src/js/lib/zepto.min.1.2.js') %>"></script>
    
    <% if (process.env.NODE_ENV === 'handover') { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry; %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } else { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry.substr(htmlWebpackPlugin.files.publicPath.length); %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } %>

    </body>
</html>
